
<% if user_signed_in? %>
  <%= link_to 'log out', destroy_user_session_url, method: :delete %>
  <p>Current User Id </p>
  <%= current_user.id %>
  <%= current_user.email %>

  <div>
    <h2>Choose your theme: </h2>
    <p>Get design inspiration from:<a href="https://www.canva.com">Canva</a></p>
  </div>

  <div class="createContainer">
    <%= form_with scope: :moment, url: moments_path, local: true do |form| %>
      <%= form.submit "Birthday" %>
    <% end %>
    <%= form_with scope: :moment, url: moments_path, local: true do |form| %>
      <%= form.submit "Graduation" %>
    <% end %>
    <%= form_with scope: :moment, url: moments_path, local: true do |form| %>
      <%= form.submit "Farewell" %>
    <% end %>
  </div>

  <div class="momentsContainer">
    <%= link_to 'All Moments', moments_path %>
  </div>

<% else %>
  <h1>This is the landing page before login</h1>

  <div class="content">
    <section id="home">
	      <div class="home-content">
        <a class="register-btn" data-toggle="modal" data-target="#registrationForm">Sign up</a>
        <small class ="pl-3">Have an account? <u><a data-toggle="modal" data-target="#loginForm">Login</a></u></small>
    </section>
  </div>

  <%
=begin%>
 <%= render "devise/sessions/new2" %> 
<%
=end%>



 <%= render "devise/registrations/new" %>   




  <%= link_to 'Log in', new_user_session_url %>
  <%= link_to('Register', new_user_registration_path) %>
<% end %>


