
<% if user_signed_in? %>


<!-- Page content holder -->
<div class="page-content" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"><img class="d-flex align-items-center" src="https://img.icons8.com/android/50/000000/menu.png" width="20rem" height="20rem"></small></button>

  <!-- Demo content -->
  <div class="indexTopHolder">

    <div>
      <h2 class="display-4 text-white indexTitle topMoments"><span class="mx-2" id="word">This is</span> Moments</h2>
    </div>

    <div class="search__container" id="searchBar">
      <p class="search__title">
          Search for a theme
      </p>
      <input class="search__input form-control homepage-searchbar mx-auto" style="width:540px" id="myInput" type="text" placeholder="">
    </div>

    <div>
      <p class="lead text-white mb-0">Create memories that last a lifetime</p>
    </div>
  </div>
  
  <div class="indexHeaders">
    <h3>Create a moment</h3>
    <h6> > </h6>
  </div>

  <div class="createContainer">
    <% @themes.each do |t| %>
    <div class='indexCardWrap'>
      <%= form_with scope: :moment, url: moments_path, local: true do |form| %>
        <input name="occasion" type="hidden" value=<%=t[:occasion]%> />
        <input name="description" type="hidden" value=<%=t[:description]%> />
        <%= form.submit "Begin", :type => :image, :src => t[:url], :formtarget => "_blank" %>
        <p class="indexCardTitle"><%=t[:title]%></p>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="separator"></div>

  <div class="indexAllDesigns indexHeaders">
    <h3>Your Designs</h3>
    <h6><a href="/moments"> See all > </a></h6>
  </div>

  <div class="designContainer">

      <% @moments.each do |moment| %>
        <div class='indexCardWrap2'>

          <h2><%= moment.title %></h2>

          <p><strong><%= moment.occasion.capitalize %></strong></p>

          <a href=<%="/m/#{moment.card_url}"%> target="_blank"><button class="btn btn-outline-light">View Card</button></a>
          
          <a href=<%=edit_moment_path(moment)%>><button class="btn btn-outline-light">Edit</button></a>
          
        </div>
      <% end %>
  </div>

  <%
=begin%>
 <div class="indexAllDesigns indexHeaders">
    <h3><a href="/moments">Your Designs</a></h3>
    <h5> > </h5>
  </div> 
<%
=end%>

</div>
<!-- End demo content -->


  


<% else %>

  
  <div class="content lp-top-cont">
    <section id="home">
	      <div class="home-content">
          <h3>Design anything.</h3>
          <h3>Publish anywhere.</h3>
        </div>
        <a class="register-btn" data-toggle="modal" data-target="#registrationForm">Sign up</a>
        <small class ="pl-3">Have an account? <u><a data-toggle="modal" data-target="#loginForm">Login</a></u></small>
    </section>
    <aside>
      <h1>This is the landing page before login</h1>
      <img src="https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=40"/>
    </aside>
  </div>

  <div>
    <h2>All Designs to choose from</h2>
  </div>
  <%
=begin%>
 <%= render "devise/sessions/new2" %> 
<%
=end%>
 <%= render "devise/registrations/new" %>   










<% end %>





