
<% if user_signed_in? %>


<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

  <!-- Demo content -->
  <h2 class="display-4 text-white">Design Anything</h2>

  <div class="row">
    <div class="column" id="searchBar">
      <input class="form-control homepage-searchbar" style="width:540px;" id="myInput" type="text" placeholder="Find a theme"/>
    </div>
  </div>

  <p class="lead text-white mb-0">Creativity is the natural order of life.</p>
  
  <div>
    <h2>Create a design > </h2>
  </div>

  

  <div class="createContainer">
    <% @themes.each do |t| %>
      <%= form_with scope: :moment, url: moments_path, local: true do |form| %>
        <input name="occasion" type="hidden" value=<%=t[:occasion]%> />
        <%= form.submit "Begin", :type => :image, :src => t[:url], :formtarget => "_blank" %>
        <p><%=t[:title]%></p>
      <% end %>
    <% end %>
  </div>

  <a href="https://jsfiddle.net/bootstrapious/ko18ravd" target="_blank">For reference</a>
  <div class="separator"></div>
  <div>
    <a href="/moments">Your Designs > </a>
  </div>

</div>
<!-- End demo content -->


  



<% else %>

  
  <div class="content lp-top-cont">
    <section id="home">
	      <div class="home-content">
          <h3>Design anything.</h3>
          <h3>Publish anywhere.</h3>
        </div>
        <a class="register-btn" data-toggle="modal" data-target="#registrationForm">Sign up</a>
        <small class ="pl-3">Have an account? <u><a data-toggle="modal" data-target="#loginForm">Login</a></u></small>
    </section>
    <aside>
      <h1>This is the landing page before login</h1>
      <img src="https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=40"/>
    </aside>
  </div>

  <div>
    <h2>All Designs to choose from</h2>
  </div>
  <%
=begin%>
 <%= render "devise/sessions/new2" %> 
<%
=end%>
 <%= render "devise/registrations/new" %>   










<% end %>





