<h1>New Postyytyttytytyt</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :to_name %><br>
    <%= form.text_field :to_name %>
  </p>
  
  <p>
    <%= form.label :from_name %><br>
    <%= form.text_field :from_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
