<% if @moment === nil %>
	<p>Invalid page </p>
	<% controller.redirect_to '/' %>

<%
=begin%>
 var x = document.getElementById("myAudio"); 

function playAudio() { 
  x.play(); 
} 

function pauseAudio() { 
  x.pause(); 
} 
<%
=end%>



<% elsif @moment.occasion === 'birthday' %>
	
	<%
=begin%>
 <iframe src="/assets/bday.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
	
	<audio id="player" autoplay loop>
		<source src="/assets/bday.mp3" type="audio/mp3">
	</audio>  
<%
=end%>

	<script>
		function play(){
			var audio = document.getElementById("audioPlay");
			audio.play();
		}
		
		function pause(){
			var audio = document.getElementById("audioPlay");
			audio.pause();
		}
    </script>

	<audio id="audioPlay" src="/assets/bday.mp3" ></audio>
	<div class="musicButtons">
		<input type="button" value="||"  onclick="pause()">
		<input type="button" value="▶"  onclick="play()">
	</div>

	<div class="card">
		<div class="imgBox">
			<div class="bark"></div>
			<img src="https://image.ibb.co/fYzTrb/lastofus.jpg">
		</div>
		<div class="details">
			<h4 class="color1"><%= @moment.to_name %></h2>
			<h4 class="color2 m-5"><%= @moment.description %></h3>
			<p> <%= @moment.description2 %>,</p>
			<p class="text-right">♥<%= @moment.from_name %></p>
		</div>
	</div>



<% elsif @moment.occasion === 'graduation' %>

	<script>
		function play(){
			var audio = document.getElementById("audioPlay");
			audio.play();
		}
		
		function pause(){
			var audio = document.getElementById("audioPlay");
			audio.pause();
		}
    </script>

	<audio id="audioPlay" src="/assets/grad.mp3" ></audio>
	<div class="musicButtons">
		<input type="button" value="||"  onclick="pause()">
		<input type="button" value="▶"  onclick="play()">
	</div>

	<div class="book">
		<h1><%= @moment.to_name %></h1>
		<span class="page turn"></span>
		<span class="page turn"></span>
		<span class="page turn"></span>

		<span class="page turn">
			<h3><%= @moment.description %></h3>
			<p><%= @moment.description2 %></p>
			<p><%= @moment.from_name %></p>
		</span>

		<span class="page turn"></span>
		<span class="page turn"></span>
		<span class="cover"></span>
		<span class="page"></span>
		<span class="cover turn"></span>
	</div>



<% elsif @moment.occasion === 'farewell' %>

	<script>
		function play(){
			var audio = document.getElementById("audioPlay");
			audio.play();
		}
		
		function pause(){
			var audio = document.getElementById("audioPlay");
			audio.pause();
		}
    </script>

	<audio id="audioPlay" src="/assets/fare.mp3" ></audio>
	<div class="musicButtons">
		<input type="button" value="||"  onclick="pause()">
		<input type="button" value="▶"  onclick="play()">
	</div>
	
	<div class="box">

		<div>
			<h1> <%= @moment.to_name %> </h1>
		</div>

		<div id="card-container">
			<div id="card">
			<div class="front face">
				<img src="https://images.unsplash.com/photo-1529268209110-62be1d87fe75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"/>
			</div>
			<div class="back face">
				<h1><%= @moment.description %></h1>
			</div>
			</div>
		</div>

		<div id="card-container">
			<div id="card2">
			<div class="front face">
				<img src="https://images.unsplash.com/photo-1471981172431-b1c4155be4b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
			</div>
			<div class="back face">
				<h1><%= @moment.description2 %></h1>
			</div>
			</div>
		</div>

		<div id="card-container">
			<div id="card3">
			<div class="front face">
				<img src="https://images.unsplash.com/photo-1521401592658-a19e45c75c2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"/>
			</div>
			<div class="back face">
				<p >Until we meet again . . .</p>
			</div>
			</div>
		</div>

		<div id="card-container">
			<div id="card3">
			<div class="front face">
				<img src="https://images.unsplash.com/photo-1519692958672-ee66611a9f40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"/>
			</div>
			<div class="back face">
				<p ><%= @moment.from_name %></p>
			</div>
			</div>
		</div>

	</div>

<% end %>
