<h1>Editing Moment</h1>

<%= render 'form', moment: @moment %>

<%= link_to 'Show', @moment %> |
<%= link_to 'Back', moments_path %>

<h1> REAAAACCCTTTT </h1>
<%= javascript_pack_tag 'hello_react' %>
<%= stylesheet_pack_tag 'hello_react' %> 
