<div class="page-content p-5" id="content">

  <p id="notice"><%= notice %></p>

  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

  <!-- Demo content -->
  <div class="containerCardIndex">

      <% @moments.each do |moment| %>
        <div class="eachCardIndex">

          <h2><%= moment.id %></h2>
          <h2><%= moment.title %></h2>

          <p><%= moment.to_name %></p>
          <p><%= moment.from_name %></p>
          <p><strong><%= moment.occasion %></strong></p>

          <a href=<%="/m/#{moment.card_url}"%> target="_blank"><button class="btn btn-primary">Show Card</button></a>
          
          <a href=<%=edit_moment_path(moment)%>><button class="btn btn-info">Edit</button></a>
          
          <%= link_to moment, method: :delete, data: { confirm: 'Delete this design?' } do %><button class="btn btn-danger">Delete</button>
          <% end %>

        </div>

      <% end %>
  </div>



</div>
<!-- End demo content -->


