<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<p id="notice"><%= notice %></p>

<h1>Moments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>To name</th>
      <th>From name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Audio url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moments.each do |moment| %>
      <tr>
        <td><%= moment.title %></td>
        <td><%= moment.to_name %></td>
        <td><%= moment.from_name %></td>
        <td><%= moment.description %></td>
        <td><%= moment.image_url %></td>
        <td><%= moment.audio_url %></td>
        <td><%= link_to 'Show', moment %></td>
        <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
        <td><%= link_to 'Destroy', moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moment', new_moment_path %>
