<div class="page-content p-5" id="content">

  <p id="notice"><%= notice %></p>

  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

  <!-- Demo content -->
  <div class="containerCardIndex">

      <% @moments.each do |moment| %>
        <div class="eachCardIndex">

          <p><%= moment.id %></p>
          <p><%= moment.title %></p>

          <p><%= moment.to_name %></p>
          <p><%= moment.from_name %></p>
          <p><strong><%= moment.occasion %></strong></p>

          <button class="btn btn-primary"><%= link_to 'See card', "/m/#{moment.card_url}", target: :_blank %></button>
          <button class="btn btn-info"><%= link_to 'Edit', edit_moment_path(moment) %></button>
          <button class="btn btn-danger"><%= link_to 'Delete', moment, method: :delete, data: { confirm: 'Delete this design?' } %></button>

        </div>

      <% end %>
  </div>



</div>
<!-- End demo content -->


