<p id="notice"><%= notice %></p>

<h2>Link to card: http://localhost:3000/moments</h2>
<h2>Code here: </h2>
<h2>Sharing links here</h2>
<img src="https://cdn2.iconfinder.com/data/iconsets/previews/medium/2018-social-media-logotypes.png"/>

<%
=begin%>
 <p>
  <strong>Title:</strong>
  <%= @moment.title %>
</p>

<p>
  <strong>To name:</strong>
  <%= @moment.to_name %>
</p>

<p>
  <strong>From name:</strong>
  <%= @moment.from_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @moment.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @moment.image_url %>
</p>

<p>
  <strong>Audio url:</strong>
  <%= @moment.audio_url %>
</p> 
<%
=end%>

<br/>
<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
