<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @moment.title %>
</p>

<p>
  <strong>To name:</strong>
  <%= @moment.to_name %>
</p>

<p>
  <strong>From name:</strong>
  <%= @moment.from_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @moment.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @moment.image_url %>
</p>

<p>
  <strong>Audio url:</strong>
  <%= @moment.audio_url %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
