<p id="notice"><%= notice %></p>

<%
=begin%>
 <h2>Link to card: http://localhost:3000/moments</h2>
<h2>Code here: </h2>
<h2>Sharing links here</h2>
<img src="https://cdn2.iconfinder.com/data/iconsets/previews/medium/2018-social-media-logotypes.png"/> 
<%
=end%>


 <p>
  <strong>Title:</strong>
  <%= @moment.title %>
</p>

<p>
  <strong>To name:</strong>
  <%= @moment.to_name %>
</p>

<p>
  <strong>From name:</strong>
  <%= @moment.from_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @moment.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @moment.image_url %>
</p>

<p>
  <strong>Audio url:</strong>
  <%= @moment.audio_url %>
</p> 


<br/>
<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>


<div class="card">
		<div class="imgBox">
			<div class="bark"></div>
			<img src="https://image.ibb.co/fYzTrb/lastofus.jpg">
		</div>
		<div class="details">
			<h4 class="color1"><%= @moment.title %></h2>
			<h4 class="color2 margin">(HAPPY BIRTHDAY)</h3>
			<p>Dear <%= @moment.to_name %>,</p>
			<p>Let's see.. .</p>
			<p>You’re never around, you</p>
			<p>hate the music I’m into, you</p>
			<p>practically despise the movies I</p>
			<p>like, and yet somehow you still</p>
			<p>manage to be the best dad every year.</p>
			<p>How do you do that? :)</p>
			<p class="text-right">Happy Birthday, <%= @moment.to_name %>!</p>
			<p class="text-right">♥<%= @moment.from_name %></p>
		</div>
	</div>